# Lab 1

<b>Class:</b> MSDS 7331 Data Mining
<br> <b>Dataset:</b> Belk Endowment Educational Attainment Data 

<h1 style="font-size:150%;"> Teammates </h1>
Maryam Shahini
<br> Murtada Shubbar
<br> Michael Toolin
<br> Steven Millett

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix


%matplotlib inline

#

In [10]:
public_school_2014_data = pd.read_csv('./Data/School Datasets/PublicSchools2014.csv', low_memory=False)
public_school_2015_data = pd.read_csv('./Data/School Datasets/PublicSchools2015.csv', low_memory=False)
public_school_2016_data = pd.read_csv('./Data/School Datasets/PublicSchools2016.csv', low_memory=False)
public_school_2017_data = pd.read_csv('./Data/School Datasets/PublicSchools2017.csv', low_memory=False)

In [12]:
print(public_school_2014_data.shape)
print(public_school_2015_data.shape)
print(public_school_2016_data.shape)
print(public_school_2017_data.shape)

(2561, 1259)
(2585, 1256)
(2599, 1256)
(2617, 1279)

In [13]:
master_public_school_data = pd.concat([public_school_2014_data, public_school_2015_data,
                                       public_school_2016_data, public_school_2017_data], axis =0, ignore_index=True, sort=False)

In [15]:
print(master_public_school_data.shape)

(10362, 1318)

In [17]:
sample_public_school = master_public_school_data.sample(5000)

# Business Understanding 

Describe the purpose of the data set you selected (i.e., why was this data collected in the first place?). Describe how you would define and measure the outcomes from the dataset. That is, why is this data important and how do you know if you have mined useful knowledge from the dataset? How would you measure the effectiveness of a good prediction algorithm? Be specific.

# Data Meaning Type 

Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file.

In [4]:
print(school_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85766 entries, 0 to 85765
Data columns (total 32 columns):
District Name                                          85766 non-null object
unit_code                                              85766 non-null object
School Name                                            85758 non-null object
SBE District                                           85574 non-null object
Subject                                                85766 non-null object
Standard (CCR - Level 4 & 5, GLP - Level 3 & Above)    85766 non-null object
All Students                                           85766 non-null float64
Female                                                 85766 non-null float64
Male                                                   85766 non-null float64
American Indian                                        85766 non-null float64
Asian                                                  85766 non-null float64
Black                                                  85766 non-null float64
Hispanic                                               85766 non-null float64
Two or More Races                                      85766 non-null float64
White                                                  85766 non-null float64
EDS                                                    85766 non-null float64
LEP                                                    85766 non-null float64
SWD                                                    85766 non-null float64
AIG                                                    85766 non-null float64
All Students_Ct                                        85766 non-null int64
Female_Ct                                              85766 non-null int64
Male_Ct                                                85766 non-null int64
American Indian_Ct                                     85766 non-null int64
Asian_Ct                                               85766 non-null int64
Black_Ct                                               85766 non-null int64
Hispanic_Ct                                            85766 non-null int64
Two or More Races_Ct                                   85766 non-null int64
White_Ct                                               85766 non-null int64
EDS_Ct                                                 85766 non-null int64
LEP_Ct                                                 85766 non-null int64
SWD_Ct                                                 85766 non-null int64
AIG_Ct                                                 85766 non-null int64
dtypes: float64(13), int64(13), object(6)
memory usage: 20.9+ MB
None

In [3]:
school_data.head()

,District Name,unit_code,School Name,SBE District,Subject,"Standard (CCR - Level 4 & 5, GLP - Level 3 & Above)",All Students,Female,Male,American Indian,...,American Indian_Ct,Asian_Ct,Black_Ct,Hispanic_Ct,Two or More Races_Ct,White_Ct,EDS_Ct,LEP_Ct,SWD_Ct,AIG_Ct
0,State of North Carolina,NC,State of North Carolina,NaN,All EOG/EOC Subjects,College and Career Ready,49.2,51.0,47.6,33.4,...,24464,64469,509546,342683,83948,998834,995415,95195,255617,305064
1,State of North Carolina,NC,State of North Carolina,NaN,All EOC Subjects,College and Career Ready,50.9,54.0,48.0,33.6,...,4598,12697,96147,57565,14718,200303,170107,13634,42229,76138
2,State of North Carolina,NC,State of North Carolina,NaN,EOC Biology,College and Career Ready,47.5,48.5,46.5,33.0,...,1435,3592,29523,16915,4258,58641,50089,3627,12962,19977
3,State of North Carolina,NC,State of North Carolina,NaN,EOC English 2,College and Career Ready,50.1,56.0,44.4,30.9,...,1464,3542,31119,17970,4508,61362,54188,4153,13851,20321
4,State of North Carolina,NC,State of North Carolina,NaN,EOC Math I,College and Career Ready,54.1,56.6,51.8,36.5,...,1699,5563,35505,22680,5952,80300,65830,5854,15416,35840

In [ ]:
#scatter_matrix(school_data)

In [5]:
school_data.shape

(85766, 32)

# Data Quality

Verify data quality: Explain any missing values, duplicate data, and outliers. Are those mistakes? How do you deal with these problems? Give justifications for your methods.

# Simple Statistics

Visualize appropriate statistics (e.g., range, mode, mean, median, variance, counts) for a subset of attributes. Describe anything meaningful you found from this or if you found something potentially interesting. Note: You can also use data from other sources for comparison. Explain why the statistics run are meaningful.

In [18]:
print(school_data.describe())

       All Students        Female          Male  American Indian  \
count  85766.000000  85766.000000  85766.000000     85766.000000
mean      53.283481     53.230942     50.816355         2.641560
std       21.763396     23.302157     23.236344        11.432818
min        0.000000      0.000000      0.000000         0.000000
25%       38.500000     38.400000     35.500000         0.000000
50%       53.300000     54.200000     51.000000         0.000000
75%       68.000000     69.200000     66.700000         0.000000
max      100.000000    100.000000    100.000000       100.000000

              Asian         Black      Hispanic  Two or More Races  \
count  85766.000000  85766.000000  85766.000000       85766.000000
mean      14.049401     27.208183     31.674390          19.312606
std       30.039769     24.178638     26.918454          28.433244
min        0.000000      0.000000      0.000000           0.000000
25%        0.000000      0.000000      0.000000           0.000000
50%        0.000000     26.100000     33.300000           0.000000
75%        0.000000     42.200000     50.400000          42.300000
max      100.000000    100.000000    100.000000         100.000000

              White           EDS      ...        American Indian_Ct  \
count  85766.000000  85766.000000      ...              85766.000000
mean      56.453993     40.101511      ...                 12.292097
std       27.656753     21.970242      ...                196.190122
min        0.000000      0.000000      ...                  5.000000
25%       44.100000     26.200000      ...                  5.000000
50%       61.500000     39.100000      ...                  5.000000
75%       76.200000     52.900000      ...                  5.000000
max      100.000000    100.000000      ...              24464.000000

           Asian_Ct       Black_Ct    Hispanic_Ct  Two or More Races_Ct  \
count  85766.000000   85766.000000   85766.000000          85766.000000
mean      24.364538     174.537999     117.599037             29.467831
std      483.668489    3705.367580    2502.602658            606.965166
min        5.000000       5.000000       5.000000              5.000000
25%        5.000000       5.000000       5.000000              5.000000
50%        5.000000      30.000000      21.000000              5.000000
75%        5.000000      84.000000      57.000000             15.000000
max    64469.000000  509546.000000  342683.000000          83948.000000

            White_Ct         EDS_Ct        LEP_Ct         SWD_Ct  \
count   85766.000000   85766.000000  85766.000000   85766.000000
mean      341.109239     340.091948     33.879404      86.061773
std      7152.878031    7199.694882    715.061354    1850.959176
min         5.000000       5.000000      5.000000       5.000000
25%        26.000000      35.000000      5.000000       5.000000
50%        69.000000      78.000000      5.000000      19.000000
75%       177.000000     177.000000     15.000000      45.000000
max    998834.000000  995415.000000  95195.000000  255617.000000

              AIG_Ct
count   85766.000000
mean      106.320034
std      2174.148030
min         5.000000
25%         5.000000
50%        17.000000
75%        49.000000
max    305064.000000

[8 rows x 26 columns]

# Visualize Attributes

Visualize the most interesting attributes (at least 5 attributes, your opinion on what is interesting). Important: Interpret the implications for each visualization. Explain for each attribute why the chosen visualization is appropriate.

# Explore Joint Attributes

Visualize relationships between attributes: Look at the attributes via scatter plots, correlation, cross-tabulation, group-wise averages, etc. as appropriate. Explain any interesting relationships.

# Explore Attributes and Class

Identify and explain interesting relationships between features and the class you are trying to predict (i.e., relationships with variables and the target classification).

# New Features

Are there other features that could be added to the data or created from existing features? Which ones?

# Exceptional Work

You have free reign to provide additional analyses. One idea: implement dimensionality reduction, then visualize and interpret the results.