# Lab 1

<b>Class:</b> MSDS 7331 Data Mining
<br> <b>Dataset:</b> Belk Endowment Educational Attainment Data 

<h1 style="font-size:150%;"> Teammates </h1>
Maryam Shahini
<br> Murtada Shubbar
<br> Michael Toolin
<br> Steven Millett

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
import re

%matplotlib inline

#

In [28]:
#
# The Machine Learning Date Set is being used through out this analysis.  The _ML suffix is removed to less name space size
#
# Load Full Public School Data Frames for each year
#
public_school_data_2014 = pd.read_csv('./Data/2014/Machine Learning Datasets/PublicSchools2014_ML.csv', low_memory=False)
public_school_data_2015 = pd.read_csv('./Data/2015/Machine Learning Datasets/PublicSchools2015_ML.csv', low_memory=False)
public_school_data_2016 = pd.read_csv('./Data/2016/Machine Learning Datasets/PublicSchools2016_ML.csv', low_memory=False)
public_school_data_2017 = pd.read_csv('./Data/2017/machine Learning Datasets/PublicSchools2017_ML.csv', low_memory=False)
#
# Load High School Data Frames for each year
#
high_school_data_2014 = pd.read_csv('./Data/2014/Machine Learning Datasets/PublicHighSchools2014_ML.csv', low_memory=False)
high_school_data_2015 = pd.read_csv('./Data/2015/Machine Learning Datasets/PublicHighSchools2015_ML.csv', low_memory=False)
high_school_data_2016 = pd.read_csv('./Data/2016/Machine Learning Datasets/PublicHighSchools2016_ML.csv', low_memory=False)
high_school_data_2017 = pd.read_csv('./Data/2017/machine Learning Datasets/PublicHighSchools2017_ML.csv', low_memory=False)
#
# Load Middle School Data Frames for each year
#
middle_school_data_2014 = pd.read_csv('./Data/2014/Machine Learning Datasets/PublicMiddleSchools2014_ML.csv', low_memory=False)
middle_school_data_2015 = pd.read_csv('./Data/2015/Machine Learning Datasets/PublicMiddleSchools2015_ML.csv', low_memory=False)
middle_school_data_2016 = pd.read_csv('./Data/2016/Machine Learning Datasets/PublicMiddleSchools2016_ML.csv', low_memory=False)
middle_school_data_2017 = pd.read_csv('./Data/2017/machine Learning Datasets/PublicMiddleSchools2017_ML.csv', low_memory=False)
#
# Load Elementary School Data Frames for each year
#
elem_school_data_2014 = pd.read_csv('./Data/2014/Machine Learning Datasets/PublicElementarySchools2014_ML.csv', low_memory=False)
elem_school_data_2015 = pd.read_csv('./Data/2015/Machine Learning Datasets/PublicElementarySchools2015_ML.csv', low_memory=False)
elem_school_data_2016 = pd.read_csv('./Data/2016/Machine Learning Datasets/PublicElementarySchools2016_ML.csv', low_memory=False)
elem_school_data_2017 = pd.read_csv('./Data/2017/machine Learning Datasets/PublicElementarySchools2017_ML.csv', low_memory=False)

In [32]:
print(public_school_data_2014.shape)
print(public_school_data_2015.shape)
print(public_school_data_2016.shape)
print(public_school_data_2017.shape)

(2426, 325)
(2432, 357)
(2430, 333)
(2443, 334)

In [35]:
public_school_data = pd.concat([public_school_data_2014, public_school_data_2015,
                                       public_school_data_2016, public_school_data_2017], axis =0, ignore_index=True, sort=False)

In [36]:
print(public_school_data.shape)

(9731, 433)

# Business Understanding 

The North Carolina Educational data set contains report cards on a variety of schools in the North Carolina school system. These include public schools, charter schools and alternative schools.  This data describes the school system at multiple levels and grades the schools on a number of different metrics.  The number of different metrics available provide an opportunity to measure schools on all these different performance areas.  One area to look closely into is school and student performance.  These specific metrics can provide some insight into indivdual schools or schools in parts of the state that are underperforming where additional resources might help.  North Carolina ranks 40th in the nation in eduction and ranks 45th in funding.[1] The lack of financial resources places a premium on deciding where to use the available money. For example, how are districts with primarliy minority students fairing compared to others? Where schools are underperforming, how experienced are teachers?  Using this data to identify underperforming areas, can we predict if higher funding correlates to better performance in school or on SAT scores. Also, are college admissions in any way connected to better funded schools.  A seperate area to examine would be the safety of neighborhoods in comparison to school performance.  This information could be used in other areas of local government as well.

###citation: Drew J., The Belk Endowment Educational Attainment Data Repository for North Carolina Public Schools, (2018), GitHub repository, https://github.com/jakemdrew/EducationDataNC

[1] (source: https://www.edweek.org/ew/collections/quality-counts-2018-state-grades/highlight-reports/2018/01/17/north-carolina.html/)

Describe the purpose of the data set you selected (i.e., why was this data collected in the first place?). Describe how you would define and measure the outcomes from the dataset. That is, why is this data important and how do you know if you have mined useful knowledge from the dataset? How would you measure the effectiveness of a good prediction algorithm? Be specific.

# Data Meaning Type 

Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file.

In [13]:
print(all_pub_school_2017_data_ml.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2443 entries, 0 to 2442
Columns: 334 entries, student_num to unit_code
dtypes: float64(290), int64(44)
memory usage: 6.2 MB
None

In [14]:
all_pub_school_2017_data_ml.head()

,student_num,lea_avg_student_num,st_avg_student_num,00_Size,02_Size,03_Size,04_Size,05_Size,Math I_Size,lea_total_expense_num,...,Math SPG Grade_C,Math SPG Grade_D,Math SPG Grade_F,EVAAS Growth Status_Met,EVAAS Growth Status_NotMet,State Gap Compared_Y,Byod_Yes,_1_to_1_access_Yes,SRC_devices_sent_home_Yes,unit_code
0,152.0,996.0,853.0,0.0,0.0,0.0,0.0,0.0,21.0,8588.32,...,0,0,0,1,0,0,0,1,1,10303
1,575.0,528.0,490.0,21.0,19.0,22.0,24.0,28.0,0.0,8588.32,...,0,0,0,0,0,0,0,0,0,10304
2,611.0,528.0,490.0,19.0,20.0,19.0,27.0,26.0,0.0,8588.32,...,1,0,0,0,0,0,0,0,0,10308
3,742.0,706.0,629.0,0.0,0.0,0.0,0.0,0.0,26.0,8588.32,...,0,0,1,1,0,0,0,0,0,10310
4,701.0,528.0,490.0,20.0,21.0,22.0,24.0,23.0,0.0,8588.32,...,1,0,0,0,1,0,0,0,0,10312

In [ ]:
#scatter_matrix(school_data)

In [15]:
all_pub_school_2017_data_ml.shape

(2443, 334)

# Data Quality

Verify data quality: Explain any missing values, duplicate data, and outliers. Are those mistakes? How do you deal with these problems? Give justifications for your methods.

# Simple Statistics

Visualize appropriate statistics (e.g., range, mode, mean, median, variance, counts) for a subset of attributes. Describe anything meaningful you found from this or if you found something potentially interesting. Note: You can also use data from other sources for comparison. Explain why the statistics run are meaningful.

In [18]:
print(school_data.describe())

       All Students        Female          Male  American Indian  \
count  85766.000000  85766.000000  85766.000000     85766.000000
mean      53.283481     53.230942     50.816355         2.641560
std       21.763396     23.302157     23.236344        11.432818
min        0.000000      0.000000      0.000000         0.000000
25%       38.500000     38.400000     35.500000         0.000000
50%       53.300000     54.200000     51.000000         0.000000
75%       68.000000     69.200000     66.700000         0.000000
max      100.000000    100.000000    100.000000       100.000000

              Asian         Black      Hispanic  Two or More Races  \
count  85766.000000  85766.000000  85766.000000       85766.000000
mean      14.049401     27.208183     31.674390          19.312606
std       30.039769     24.178638     26.918454          28.433244
min        0.000000      0.000000      0.000000           0.000000
25%        0.000000      0.000000      0.000000           0.000000
50%        0.000000     26.100000     33.300000           0.000000
75%        0.000000     42.200000     50.400000          42.300000
max      100.000000    100.000000    100.000000         100.000000

              White           EDS      ...        American Indian_Ct  \
count  85766.000000  85766.000000      ...              85766.000000
mean      56.453993     40.101511      ...                 12.292097
std       27.656753     21.970242      ...                196.190122
min        0.000000      0.000000      ...                  5.000000
25%       44.100000     26.200000      ...                  5.000000
50%       61.500000     39.100000      ...                  5.000000
75%       76.200000     52.900000      ...                  5.000000
max      100.000000    100.000000      ...              24464.000000

           Asian_Ct       Black_Ct    Hispanic_Ct  Two or More Races_Ct  \
count  85766.000000   85766.000000   85766.000000          85766.000000
mean      24.364538     174.537999     117.599037             29.467831
std      483.668489    3705.367580    2502.602658            606.965166
min        5.000000       5.000000       5.000000              5.000000
25%        5.000000       5.000000       5.000000              5.000000
50%        5.000000      30.000000      21.000000              5.000000
75%        5.000000      84.000000      57.000000             15.000000
max    64469.000000  509546.000000  342683.000000          83948.000000

            White_Ct         EDS_Ct        LEP_Ct         SWD_Ct  \
count   85766.000000   85766.000000  85766.000000   85766.000000
mean      341.109239     340.091948     33.879404      86.061773
std      7152.878031    7199.694882    715.061354    1850.959176
min         5.000000       5.000000      5.000000       5.000000
25%        26.000000      35.000000      5.000000       5.000000
50%        69.000000      78.000000      5.000000      19.000000
75%       177.000000     177.000000     15.000000      45.000000
max    998834.000000  995415.000000  95195.000000  255617.000000

              AIG_Ct
count   85766.000000
mean      106.320034
std      2174.148030
min         5.000000
25%         5.000000
50%        17.000000
75%        49.000000
max    305064.000000

[8 rows x 26 columns]

# Visualize Attributes

Visualize the most interesting attributes (at least 5 attributes, your opinion on what is interesting). Important: Interpret the implications for each visualization. Explain for each attribute why the chosen visualization is appropriate.

In [115]:
def prefixsearch(search_string):
    if '_tch' in search_string:
        return re.search('(^\S*)(?=_tch)',search_string).group(0)
    else:
        return 'Sch'

teacher_columns = pd.DataFrame(columns=['columns','year','region'])
teacher_columns['columns']=[col for col in public_school_data.columns if 'tchyrs' in col]
teacher_columns['year'] = teacher_columns['columns'].apply(lambda name: re.search('(?<=tchyrs_)\S*(?=_)',name).group(0))
teacher_columns['region'] = teacher_columns['columns'].apply(lambda name: prefixsearch(name))

print(teacher_columns)

                  columns     year region
0       tchyrs_0thru3_pct   0thru3    Sch
1      tchyrs_4thru10_pct  4thru10    Sch
2       tchyrs_11plus_pct   11plus    Sch
3   lea_tchyrs_0thru3_pct   0thru3    lea
4  lea_tchyrs_4thru10_pct  4thru10    lea
5   lea_tchyrs_11plus_pct   11plus    lea
6    st_tchyrs_0thru3_pct   0thru3     st
7   st_tchyrs_4thru10_pct  4thru10     st
8    st_tchyrs_11plus_pct   11plus     st

In [123]:
term = teacher_columns.groupby('year', as_index=False).aggregate(lambda x: tuple(x))

#for year in teacher_columns.year:
    
#public_school_data[teacher_columns['columns']].boxplot(figsize=(20,10))

In [56]:
public_school_data[teacher_columns]

AttributeError: 'Index' object has no attribute 'list'

# Explore Joint Attributes

Visualize relationships between attributes: Look at the attributes via scatter plots, correlation, cross-tabulation, group-wise averages, etc. as appropriate. Explain any interesting relationships.

# Explore Attributes and Class

Identify and explain interesting relationships between features and the class you are trying to predict (i.e., relationships with variables and the target classification).

# New Features

Are there other features that could be added to the data or created from existing features? Which ones?

# Exceptional Work

You have free reign to provide additional analyses. One idea: implement dimensionality reduction, then visualize and interpret the results.